<center>

<h1>File Uploading Form</h1>
<hr/>
{{msg}}
<form action="UploadAction" method="post" enctype="multipart/form-data">
File: <input type="file" name="filename" multiple/>
File: <input type="text" name="desc" />

<input type="submit" value="Upload" />

</form>
<a href="ViewImage">View Images</a>
</center>
